<section class='all-posts'>
  <% if @posts.empty? %>
    <p>User has no posts yet</p>
  <% end %>
  <div class="show-user" >
    <%= render "shared/user", :user => @posts[0].author %>
  </div>
  <ul>
    <% @posts.each do |post| %>
      <li>
        <%= render 'shared/post', :post => post %>
        <% if post.recent_comments != [] %>
        <div class="comments">
          <ul>
            <% post.recent_comments.each do |comment| %>
              <li>
                <p><%= comment.author.name %>: <%= comment.text %></p>
              </li>
            <% end %>
          </ul>
        </div>
        <% end %>
      </li>
    <% end %>
  </ul>
  
</section>