<section>
  <% if @posts.empty? %>
    <p>User has no posts yet</p>
  <% end %>
  <div class="show-user" >
    <%= render "shared/user", :user => @posts[0].author %>
  </div>
  <ul>
    <% @posts.each do |post| %>
      <li>
        <%= render 'shared/post', :post => post %>
        <div>
          <ul>
            <% post.recent_comments.each do |comment| %>
              <li>
                <p><%= comment.author.name %></p>
                <p><%= comment.text %></p>
              </li>
            <% end %>
          </ul>
        </div>
      </li>
    <% end %>
  </ul>
  
</section>