@import 'variables';
@import 'mixins';

header {
  @include display(row, space-between, center);

  div {

    &:first-of-type {
      @include display(row, initial, center);

      img {
        width: 250px;
      }
    }

    &.form-container {
      align-self: center;
      padding: 2px 5px 2px 2px;

      form {
        display: flex;
        justify-content: space-between;
        box-shadow: rgba(0, 0, 0, 0.25) 0 25px 50px -12px;

      div {
        border-radius: 2px;

        button {
          margin: 5px 5px 5px 10px;
          background: $primary-color-1;
          border: none;
          color: #fff;
          font-size: 0.9rem;
          border-radius: 2px;
          box-shadow: rgba(0, 0, 0, 0.25) 0 25px 50px -12px;
          transition: background ease-out 0.5s 0.1s;
          cursor: pointer;
          padding: 8px 25px;
          display: flex;

          &:hover {
            background: $primary-color-2;
          }

          &:focus {
            outline: none;
          }
        }
      }

      input {
        border: none;
        padding: 10px;
        border-radius: 2px;
        font: $primary-color-1;

        &:focus {
          outline: none;
        }
      }
    }
    }
    
  }
}
